.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background: #e79702;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: #000;
}
.phone a{
    color:#000;
    font-size: 13px;
    font-weight: bold;
}
.reg{
    width: 50%;
    text-align:right;
}
.reg a{
    color:#000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.social-icon{
    display: inline-block;
    width: 50%;
    
}
.social-icon p{
    display:block;
    width: 100%;

}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: #000;
}
.social-icon p a:hover{
    background: #f8aa02;
    border-color: #f8aa02;
}
.social-icon p a:hover i{ 
    color:#fff;
}
/*==========Navbar=============*/
.bg-color{
    background: #0f0f0ffb;
}
.navbar-brand{
    color:#f8aa02;
    font-weight: bold;
    font-size: 35px!important;
}
.nav-link{
    font-weight: bold;
    color: #f8aa02;
    font-size: 20px;
}
.btn-group{
    color: #f8aa02;
}
.navbar-toggler i{
    color: #f8aa02;
}
/*========End of Navbar===========*/
/*==========Hero Section===========*/
#hero{
    display:table;
    width: 100%;
    height: 100vh;
    background: url("/images/checkout_page.png") top center;
    background-size: cover;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}

#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero .hero-container{
    background: rgba(0,0,0,0.2);
    display: table-cell;
    margin: 0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}
@media (max-width: 768px){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}
#hero .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
/* Cart */
#cart-container{
    overflow-x: auto;
}
#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    white-space: initial;
}
#cart-container table th{
    text-align: center;
}
#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table thead tr td:nth-child(1) {
    width: 100px;
}
#cart-container table thead tr td:nth-child(2), 
#cart-container table thead tr td:nth-child(3){
    width: 200px;
}
#cart-container table thead tr td:nth-child(4), 
#cart-container table thead tr td:nth-child(5),
#cart-container table thead tr td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img{
    height: 200px;
    width: 150px;
    object-fit: cover;
}

#cart-container table tbody h5{
    overflow-wrap: break-word;
}

#cart-bottom .coupon>div,
#cart-bottom .checkout>div{
    border: 1px solid #b6b3b3;
}
#cart-bottom .coupon h5,
#cart-bottom .checkout h5{
    background: #f8aa02;
    color: #212529;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input{
    padding: 0 12px;
}
#cart-bottom .coupon input,
#cart-bottom .coupon button{
    height: 60px;
    margin: 0px 0px 20px 12px;
}
#cart-bottom .checkout div>div{
    padding: 0 12px;
}
.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}
#cart-bottom .coupon button{
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
}

#cart-bottom .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}