/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/


h2 {
    text-decoration: underline;
}

main img {
    /*    border: 1px solid gray;  Gray border 
        outline: 1px solid gray;
        outline-offset: 1px;*/
}

.img-thumbnail {
    /*    border: 1px solid gray;  Gray border 
        outline: 1px solid gray;
        outline-offset: 1px;
        padding: 0;
        border-radius: 0;*/
}

.img-popup img {
    padding: 0;
    position: absolute;
    height: 300px;
    width: auto;
    z-index: 1;
    vertical-align: top;
    border-width: 3px;
    border-style: double;
    border-color: gray;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 10px;
    left:27px;
    top:63px;
    box-shadow: 0 0 30px 10px gray;
    background: lightgray;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

figure {
    margin: 10px auto;
    display: inline-block;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

.topnav-right {
    float: right;
}

.dropdown-content a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}



.dropbtn {
    /*  background-color: #4CAF50;*/
    color: white;
    /*  padding: 16px;
      font-size: 16px;*/
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#weightloss {
    width: 214.57px;
    height: 109.12px;
    position: absolute;
    left: 1015px;
    top: 1452.99px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#weightloss-description{
    width: 214.57px;
    height: 109.12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#musclebuild{
    width: 214.57px;
    height: 109.12px;
    position: absolute;
    left: 740px;
    top: 1454.01px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#musclebuild-description{
    width: 214.57px;
    height: 109.12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#yoga{
    width: 214.57px;
    height: 109.12px;
    position: absolute;
    left: 481px;
    top: 1455.02px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#yoga-description{
    width: 214.57px;
    height: 109.12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#cardio{
    width: 214.57px;
    height: 109.12px;
    position: absolute;
    left: 205px;
    top: 1447.93px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}
#cardio-description{
    width: 214.57px;
    height: 109.12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

#squat-image{
    width: 126px;
    height: 90.1px;
    position: absolute;
    left: 1058.5px;
    top: 1260.14px;
    object-fit: contain;
}

#yoga-image{
    width: 122px;
    height: 125.53px;
    position: absolute;
    left: 526.5px;
    top: 1241.92px;
    object-fit: contain;
}

#musclebuild-image{
    width: 114px;
    height: 95.16px;
    position: absolute;
    left: 789.5px;
    top: 1257.11px;
    object-fit: contain;
}

#cardio-image{
    width: 120px;
    height: 95.16px;
    position: absolute;
    left: 251.5px;
    top: 1251.03px;
    object-fit: contain;
}

#background-image{
    width: 1065px;
    height: 693px;
    position: absolute;
    left: 187px;
    top: 2px;
    object-fit: cover;
}

#embedded-video{
    width: 705px;
    height: 429px;
    position: absolute;
    left: 548px;
    top: 736px;
}

#text-beside-video{
    width: 345px;
    height: 204px;
    position: absolute;
    left: 188px;
    top: 872px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

#responsive {
    width: auto;
    height: auto;
}

/* styles for screens smaller than 620px */
@media only screen and (max-width: 620px) {
    /* make the main section take up the full width of the screen */
    .main {
        width: 100%;
    }

    /* adjust the position of the text on the first section */
    #background-image {
        width: 100%;
        height: auto;
    }
    p {
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
    }

    /* adjust the size and position of the video on the second section */
    #embedded-video {
        width: 100%;
        height: auto;
    }

    /* adjust the size and position of the container on the third section */
    .container-fluid {
        width: 100%;
        height: auto;
        left: 0;
        top: 735px;
    }

    /* adjust the position of the text on the third section */
    #text-beside-video {
        margin-top: 20px;
        font-size: 24px;
    }

    /* adjust the size and position of the images on the fourth section */
    #musclebuild-image,
    #squat-image {
        width: 100%;
        height: auto;
    }
    figcaption {
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
    }
    #musclebuild-description {
        font-size: 20px;
    }
}

 /*-------------------------about us page css styling ----------------------*/
 .mb-3 {

    text-transform: uppercase;
    font-family: Georgia, Times serif;
    font-style: normal;
    color: #ffffff;
    line-height: 2.1;
    font-size: 50px;
    display: flex;
    flex-direction: column;
 }
 #first-row{
     align-self: center;
 }
 #second-row{
     align-self: center;
 }
 
 .col-7{
    height: auto;
    text-align: center;
    background: #ffffff;
    font-size: 20px;
/*    font-style: oblique;*/
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 0.8;
 }
 
 /*-------------------------product page css styling ----------------------*/

 .products .box-container{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     gap: 1.5rem;
 }
 
  .products .box-container .box{
      text-align: center;
      border: var(--border);
      padding: 2rem;
  }
  .products .box-container .box .icons a{
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      border: var(--border);
      color: #000;
      margin: .3rem;
  }
  .products .box-container .box .icons a:hover{
      background:var(--main-color);
  }
  .products .box-container .box .image{
      padding: 2.5rem 0;  
  }
  .products .box-container .box .image img{
      height: 25rem;
  }
  .products .box-container .box .content h3{
      color: #000;
      font-size: 2.5rem;
  }
  .products .box-container .box .content .stars{
      padding: 1.5rem;
  }
    .products .box-container .box .content .stars i{
      font-size: 1.7rem;
      color: var(--main-color);
  }
  
    .products .box-container .box .content .price{
    color: #000;
    font-size: 2.5rem;
  }
  
    .products .box-container .box .content .price span{
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
}

/*-------------home page ---------- */
section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #423f3f;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
  
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.5)
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-device-width: 1040px){
    section{
        padding: 100px 20px;
    }
    
    .home .media-icons{
        right: 15px;
    }
}

  
