/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 1 Jan 2023, 8:42:48 pm
    Author     : Farhan
*/

h2 {
    text-decoration: underline;
}

main img {
/*    border: 1px solid gray;  Gray border 
    outline: 1px solid gray;
    outline-offset: 1px;*/
}

.img-thumbnail {
/*    border: 1px solid gray;  Gray border 
    outline: 1px solid gray;
    outline-offset: 1px;
    padding: 0;
    border-radius: 0;*/
}

.img-popup img {
    padding: 0;
    position: absolute;
    height: 300px;
    width: auto;
    z-index: 1;
    vertical-align: top;
    border-width: 3px;
    border-style: double;
    border-color: gray;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 10px;
    left:27px; 
    top:63px;
    box-shadow: 0 0 30px 10px gray;
    background: lightgray;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

figure {
    margin: 10px auto;
    display: inline-block;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

.topnav-right {
  float: right;
}

.dropbtn {
/*  background-color: #4CAF50;*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}